/* styling for default template */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    position: relative;
    min-height: 100vh;
}

footer {
    margin-top: auto;
    color: greenyellow !important;
    font-weight: 700;
}


/* styling for content */

.navbar-nav>li>a:hover {
    color: greenyellow !important;
}

.font-outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.text-heebo {
    font-family: "Heebo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.font-heebo {
    font-family: "Heebo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.section-visi-misi {
    line-height: 1.8;
    font-size: 26px;
}

.section-ceo-speech {
    line-height: 1.5;
    font-size: 22px;
}

.video-background-holder {
    position: relative;
    background-color: black;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.video-background-holder video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
    position: relative;
    z-index: 2;
}

.video-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}