/* styling for default template */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar,
.footer {
    background: #b6acac
}

.content-wrapper {
    position: relative;
    min-height: 100vh;
}

.footer {
    margin-top: auto;
    font-size: 18px;
    font-weight: 700;
    color: #fff !important;
    text-shadow: 1px 2px 1px rgba(0, 0, 0.3);
}


/* styling for content */
.navbar-nav>li>a:hover {
    color: #87fe50 !important;
    font-weight: 700;
    font-size: 18px;
    transition: 0.3s;
}

.navbar-nav .dropdown-menu .nav-link:hover {
    color: #87fe50 !important;
}

.nav-link {
    color: #fff !important;
    font-size: 18px;
    text-shadow: 1px 2px 1px rgba(0, 0, 0.3);
}

.font-pathway-extreme {
    font-family: "Pathway Extreme", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth"100;
}

.font-outfit {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.font-heebo {
    font-family: "Heebo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* font heebo only for content */
.text-heebo {
    font-family: "Heebo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.title-heading,
.desc-heading,
.heading-visi-misi,
.heading-ceo-speech {
    text-shadow: 1px 1px 0 rgb(90, 138, 111);
    color: black;
    font-weight: 700;
    transition: .3s ease-in-out, box-shadow .3s ease-in-out;
}

/* text inside slider video & animation for all heading */
.title-heading:hover,
.desc-heading:hover,
.heading-visi-misi:hover,
.heading-ceo-speech:hover {
    color: #4BE106 !important;
    font-weight: 700;
    transition: all 0.6s;
    font-size: 58px;
}

.heading-visi-misi:after,
.heading-ceo-speech:after {
    display: block;
    content: '';
    border-bottom: solid 5px #192FC2;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.heading-visi-misi:hover:after,
.heading-ceo-speech:hover:after {
    transform: scaleX(1);
    padding: 4px 0;
}

.title-heading {
    font-size: 48px;
}

.desc-heading {
    font-size: 36px;
    padding: 3rem 0;
}

/* slider video slide */
.video-background-holder {
    position: relative;
    background-color: black;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.video-background-holder video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
    position: relative;
    z-index: 2;
}

.video-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

/* visi misi */
.section-visi-misi {
    line-height: 1.8;
    font-size: 24px;
}

/* section ceo speech */
.section-ceo-speech {
    line-height: 1.5;
    font-size: 22px;
}

.text-ceo {
    font-size: clamp(1rem, 1vw, 3rem);
    letter-spacing: 1.3px;
    text-wrap: wrap;
    text-transform: capitalize;
    font-weight: 500;
}

/* page contact us */
.section-contact-us {
    background-image: linear-gradient(to top, #d7d731, rgb(154, 204, 176));
}

/* page about us */
.section-about-us {
    line-height: 1.8;
}

.section-about-us {
    background-image: linear-gradient(to top, #d7d731, rgb(154, 204, 176));
    line-height: 2.5;
    font-size: 22px;
    padding: 7rem;
}

/* page contact us */
.container-contact {
    background: #FFFFFF;
    width: 900px;
    height: 650px;
    margin: 5% auto;
    position: relative;
}

.container-contact .map {
    width: 45%;
    float: left;
}

.container-contact .contact-form {
    width: 53%;
    margin-left: 2%;
    float: left;
}

.container-contact .contact-form .title {
    font-size: 2.5em;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #242424;
    margin: 5% 8%;
}

.container-contact .contact-form .subtitle {
    font-size: 1.2em;
    font-weight: 400;
    margin: 0 4% 5% 8%;
}

.container-contact .contact-form input,
.container-contact .contact-form textarea {
    width: 330px;
    padding: 3%;
    margin: 2% 8%;
    color: #242424;
    border: 1px solid #B7B7B7;
}

.container-contact .contact-form input::placeholder,
.container-contact .contact-form textarea::placeholder {
    color: #242424;
}

.container-contact .contact-form .btn-send {
    background: #A383C9;
    width: 180px;
    height: 60px;
    color: #FFFFFF;
    font-weight: 700;
    margin: 2% 8%;
    border: none;
}

/* page FAQ */
.body-wrapper {
    background-color: greenyellow;
    background-image: linear-gradient(to top, #d7d731, rgb(154, 204, 176));
}

.section-faq {
    font-weight: 500;
    padding: 0 1.6em;
}

.desc-korean-ginseng {
    font-size: 22px;
    text-align: left;
    text-wrap: wrap;
    letter-spacing: 1px;
    font-weight: 500;
}

.text-head {
    font-size: clamp(2rem, 4vw, 4rem);
    text-shadow: 0 4px 0px darkgreen;
    color: #fffa6d;
}

.aturan-konsumsi,
.text-sub-head {
    font-size: 28px;
    color: black;
}

.desc-rules {
    margin-top: 3rem;
    line-height: 1.5;
}

.aturan-konsumsi,
h2 {
    text-align: left;
    font-size: clamp(1rem, 2vw, 1rem);
    letter-spacing: 0.2px;
}

.aturan-konsumsi,
p {
    margin-bottom: 2em !important;
    font-size: 22px;
}

.cara-memilih-produk {
    line-height: 1.6;
    padding-top: 2em;
    margin-left: 4em;
    font-size: 22px;
}


h5,
.text-saran .text-cara-memilih-produk {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 2px 2px #65fa15;
    position: relative;
    left: 2em;
}

.text-sub-head-kosmetik {
    font-size: 26px;
}

.rules .kosmetik {
    line-height: 1.2;
}

.list-kosmetik li {
    font-size: 24px;
    font-weight: 600;
    margin-left: 0.5em;
}

@media only screen and (max-width: 768px) {
    .content-wrapper {
        line-height: 1.8;
        padding: 0.8em;
    }

    .navbar-nav>li>a:hover {
        color: #87fe50 !important;
        font-weight: 700;
        font-size: 22px;
        transition: 0.3s;
    }

    .footer {
        font-size: 20px;
        font-weight: 700;
        color: rgb(230, 230, 230) !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0.3);
    }

    .nav-link {
        color: rgb(230, 230, 230) !important;
        font-size: 18px;
        text-shadow: 1px 2px 1px rgba(0, 0, 0.3);
        margin: 0 0.5em;
    }

    .nav-link:after {
        display: block;
        content: '';
        border-bottom: solid 3px #192FC2;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
        width: 24%;
    }

    .nav-link:hover:after {
        transform: scaleX(1);
    }

    /* text inside slider video */
    .title-heading {
        font-size: 600;
        font-size: 22px;
        text-shadow: 2px 1px 1px rgb(128, 209, 163);
    }

    .desc-heading {
        text-shadow: 2px 1px 1px rgb(128, 209, 163);
        font-size: 600;
    }

    .desc-korean-ginseng {
        font-size: 16px;
        text-align: left;
    }

    .desc-rules {
        margin-top: 3rem;
        line-height: 1.5;
        font-size: 20px;
    }

    .aturan-konsumsi,
    p {
        margin-bottom: 2em !important;
        font-size: 16px;
    }

    /* styling text for section saran dan pemakaian in device mobile */
    .text-produk-show,
    text-sub-menu-saran,
    hr {
        display: none;
    }

    .text-sub-menu-saran::after {
        content: 'saran dan pemakaian serta cara memilih produk ginseng';
        text-transform: capitalize;
        text-shadow: 2px 1px #eaeaea;
        color: seagreen;
        font-size: 18px;
        margin: 1em;
    }

    .aturan-konsumsi {
        font-size: 18px;
        text-align: left;
    }

    .text-sub-head {
        text-transform: uppercase;
        text-shadow: 1px 0.1px rgba(0, 0, 0, 0.7);
        font-size: 16px;
        letter-spacing: 0;
    }

    .cara-memilih-produk {
        position: relative;
        left: -3em;
    }

    .aturan-konsumsi,
    .text-aturan-konsumsi,
    .cara-memilih-produk,
    .text-cara-memilih {
        font-size: 16px;
        text-transform: capitalize;
    }

    .h5,
    .text-saran {
        font-size: 20px;
        text-shadow: 2px 1px #eaeaea;
        color: seagreen;
    }

    h5,
    .text-cara-memilih-produk {
        font-size: 22px;
        position: relative;
        left: 3em;
        text-shadow: 2px 1px #eaeaea;
        color: seagreen;
    }

    /* end styling text for section saran dan pemakaian in device mobile */

    .kosmetik {
        text-align: left;
        line-height: 1.4;
    }

    .kosmetik .text-head {
        font-size: clamp(2.4rem, 4vw, 4rem);
        padding: 0.2em 0;
    }

    .text-sub-head-kosmetik {
        font-size: 20px;
        margin-left: 0.4em;
    }

    .list-kosmetik li {
        font-size: 20px;
        font-weight: 600;
    }

    .text-list-kosmetik {
        padding-left: 0.3em;
        text-transform: capitalize;
        text-align: left;
    }

    .section-about-us {
        background-image: linear-gradient(to top, #d7d731, rgb(154, 204, 176));
        line-height: 1.5;
        font-size: 22px;
        padding: 1rem;
    }
}



/* mobile */
@media only screen and (max-width: 600px) {
    .content-wrapper {
        line-height: 1.8;
        padding: 0.8em;
    }

    .nav-link {
        color: rgb(230, 230, 230) !important;
        font-size: 14px;
        text-shadow: 1px 2px 1px rgba(0, 0, 0.3);
        margin: 0 1.5em;
    }

    .nav-link:after {
        display: block;
        content: '';
        border-bottom: solid 3px #192FC2;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
    }

    .nav-link:hover:after {
        transform: scaleX(1);
    }

    .footer {
        font-size: 12px;
        font-weight: 700;
        color: rgb(230, 230, 230) !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0.3);
    }

    /* text inside slider video */
    .title-heading {
        font-size: 600;
        font-size: 18px;
        text-shadow: 2px 1px 1px rgb(128, 209, 163);
    }

    .desc-heading {
        text-shadow: 2px 1px 1px rgb(128, 209, 163);
        font-size: 600;
    }

    .desc-korean-ginseng {
        font-size: 14px;
        text-align: left;
    }

    .desc-rules {
        margin-top: 3rem;
        line-height: 1.5;
        font-size: 18px;
    }

    .aturan-konsumsi,
    p {
        margin-bottom: 2em !important;
        font-size: 14px;
    }

    /* styling text for section saran dan pemakaian in device mobile */
    .text-produk-show,
    text-sub-menu-saran,
    hr {
        display: none;
    }

    .text-sub-menu-saran::after {
        content: 'saran dan pemakaian serta cara memilih produk ginseng';
        text-transform: capitalize;
        text-shadow: 2px 1px #eaeaea;
        color: seagreen;
        font-size: 15px;
        margin: 1em;
    }

    .aturan-konsumsi {
        font-size: 16px;
        text-align: left;
    }

    .text-sub-head {
        text-transform: uppercase;
        text-shadow: 1px 0.1px rgba(0, 0, 0, 0.7);
        font-size: 14px;
        letter-spacing: 0;
    }

    .cara-memilih-produk {
        position: relative;
        left: -3em;
    }

    .aturan-konsumsi,
    .text-aturan-konsumsi,
    .cara-memilih-produk,
    .text-cara-memilih {
        font-size: 12px;
        text-transform: capitalize;
    }

    .h5,
    .text-saran {
        font-size: 18px;
        text-shadow: 2px 1px #eaeaea;
        color: seagreen;
    }

    h5,
    .text-cara-memilih-produk {
        font-size: 18px;
        position: relative;
        left: 3em;
        text-shadow: 2px 1px #eaeaea;
        color: seagreen;
    }

    /* end styling text for section saran dan pemakaian in device mobile */

    .kosmetik {
        text-align: left;
        line-height: 1.4;
    }

    .kosmetik .text-head {
        font-size: clamp(2.4rem, 4vw, 4rem);
        padding: 0.2em 0;
    }

    .text-sub-head-kosmetik {
        font-size: 16px;
        margin-left: 0.4em;
    }

    .list-kosmetik li {
        font-size: 16px;
        font-weight: 600;
    }

    .text-list-kosmetik {
        padding-left: 0.3em;
        text-transform: capitalize;
        text-align: left;
    }

    .section-about-us {
        background-image: linear-gradient(to top, #d7d731, rgb(154, 204, 176));
        line-height: 1.5;
        font-size: 18px;
        padding: 3rem;
    }

}